<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>
	<%= htmlWebpackPlugin.options.title %>
	</title>

	<meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
		google.charts.load('current', {'packages':['corechart']});
	</script>	

	<style>
		.datum-block {
			text-align: center;
			margin: 0 5px;
		}
		.datum-block .datum {
			font-size: 20pt;
			font-weight:bold;
		}
		.datum-block .datum-label {
			font-size: larger;
		}
		table.distribution-table tr td, table.distribution-table tr th {
			text-align: center;
		}

		div.panel-stats div.panel-heading {
			/*background-color: #d1c4e9;*/
		}
		div.panel-input div.panel-heading {
			background-color: #bbdefb;
		}
		div.panel-output div.panel-heading {
			background-color: #c8e6c9;
		}
		div.panel-options div.panel-heading {
			/*background-color: #d7ccc8;*/
		}

	</style>	
</head>

<body>
	<div class="content">
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<div class="panel panel-default panel-input">
					<div class="panel-heading">
						<h3 class="panel-title">Input <span class="input-count"></span></h3>
					</div>
					<div class="panel-body">
						<textarea style="width: 100%; height: 200px;" class="input"></textarea>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="panel panel-default panel-output">
					<div class="panel-heading">
						<h3 class="panel-title">Output <span class="output-count"></span></h3>
					</div>
					<div class="panel-body">
						<textarea style="width: 100%; height: 200px;"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-default panel-options">
					<div class="panel-heading">
						<h3 class="panel-title">Options</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4">
								<form class="form-horizontal" >
									<div class="form-group">
										<label for="inputDelimiter" class="col-sm-6 control-label">Input Delimiter</label>
										<div class="col-md-6">
											<input type="text" value="\n" class="form-control input-sm" id="inputDelimiter" />
										</div>	
									</div>
									<div class="form-group">
										<label for="outputDelimiter" class="col-sm-6 control-label">Output Delimiter</label>
										<div class="col-md-6">
											<input type="text" value="," class="form-control input-sm" id="outputDelimiter" />
										</div>	
									</div>
								</form>	
							</div>
							<div class="col-md-4">
								<form class="form-horizontal" >
									<div class="form-group">
										<label for="distinctValues" class="col-sm-6 control-label">Distinct Values?</label>
										<div class="col-md-6">
											<select class="form-control input-sm" id="distinctValues">
												<option value="FALSE">No</option>
												<option value="DISTINCT">Yes</option>
												<option value="DISTINCT-CASE-INSENSITIVE">Yes, Case Insensitive</option>
											</select>	
										</div>	
									</div>
									<div class="form-group">
										<label for="sortValues" class="col-sm-6 control-label">Sort Values?</label>
										<div class="col-md-6">
											<select class="form-control input-sm" id="sortValues">
												<option value="FALSE" selected="true">No Sort</option>
												<option value="NUMERIC|ASC" >Numeric ASC</option>
												<option value="NUMERIC|DESC" >Numeric DESC</option>
												<option value="TEXT|ASC" >Text ASC</option>
												<option value="TEXT|DESC" >Text DESC</option>
												<option value="TEXT-CASE-INSENSITIVE|ASC" >Text Case Insensitive ASC</option>
												<option value="TEXT-CASE-INSENSITIVE|DESC" >Text Case Insensitive DESC</option>
											</select>	
										</div>	
									</div>
								</form>	
							</div>
							<div class="col-md-4">
								<form class="form-horizontal" >
									<div class="form-group">
										<label for="quoteValues" class="col-sm-6 control-label">Quote Values?</label>
										<div class="col-md-6">
											<input type="checkbox" id="quoteValues" />
										</div>	
									</div>
									<div class="form-group">
										<label for="trimValues" class="col-sm-6 control-label">Trim Values?</label>
										<div class="col-md-6">
											<input type="checkbox" id="trimValues" />
										</div>	
									</div>
									<!--
									<div class="form-group">
										<label for="ignoreEmptyValues" class="col-sm-6 control-label">Ignore Empty Values?</label>
										<div class="col-md-6">
											<input type="checkbox" id="ignoreEmptyValues" />
										</div>	
									</div>									
									-->
								</form>	
							</div>
						</div>		
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-default panel-stats">
					<div class="panel-heading">
						<h3 class="panel-title">Information</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 datum-stats">
								
								<div class="well col-md-2 datum-block">
									<div class="sum datum"></div>
									<div class="datum-label">Sum</div>
								</div>	
								<div class="well col-md-2 datum-block">
									<div class="avg datum"></div>
									<div class="datum-label">Mean</div>
								</div>	
								<div class="well col-md-2 datum-block">
									<div class="mode datum"></div>
									<div class="datum-label">Mode</div>
								</div>	
								<div class="well col-md-2 datum-block">
									<div class="variance datum"></div>
									<div class="datum-label">Variance</div>
								</div>	
								<div class="well col-md-2 datum-block">
									<div class="stddev datum"></div>
									<div class="datum-label">Standard Deviation</div>
								</div>	
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">		
								<table class="table distribution-table">
									<thead>
										<tr>
											<th style="width: 10%">Min</th>
											<th style="width: 8%">K99</th>
											<th style="width: 8%">K95</th>
											<th style="width: 8%">K90</th>
											<th style="width: 8%">K75</th>
											<th style="width: 10%">Median</th>
											<th style="width: 8%">K75</th>
											<th style="width: 8%">K90</th>
											<th style="width: 8%">K95</th>
											<th style="width: 8%">K99</th>
											<th style="width: 10%">Max</th>
										</tr>	
									</thead>
									<tbody>
										<tr>
											<td class="min"></td>
											<td class="k99gt"></td>
											<td class="k95gt"></td>
											<td class="k90gt"></td>
											<td class="k75gt"></td>
											<td class="k50"></td>
											<td class="k75lt"></td>
											<td class="k90lt"></td>
											<td class="k95lt"></td>
											<td class="k99lt"></td>
											<td class="max"></td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">	
								<div id="candlestick_chart" style="width: 100%; height: 500px;"></div>
							</div>
							<div class="col-md-10">
								<div id="histogram_chart" style="width: 100%; height: 500px;"></div>
							</div>	
						</div>		
					</div>
				</div>
			</div>
		</div>	

	</div>
</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>